<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src='/javascripts/jquery.min.js'></script>
  <title>交互式问答平台</title>
  <style media="screen">
    *{
      margin: 0;
      padding: 0;
    }
    .dash_board {
      background: #009688;
      color: #fff;
    }
    .dash_board h3 {
      padding: 20px 16px 30px 16px;
    }
    .dash_board p {
      color: #fff;
      line-height: 2.5;
      font-size: 14px;
      padding: 10px 30px;
    }
    .modal {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      justify-content: center;
      align-items: center;
      display: none;
      background: rgba(0, 0, 0 , .66);
      z-index: 2;
    }
    .form {
      padding: 40px 0;
      width: 78%;
      background: #fff;
      transition: all .20s ease-in-out;
    }
    .form_line {
      position: relative;
      padding: 20px 30px;
      color: #212121;
    }
    .form_line input {
      width: 100%;
      margin: 0 auto;
      padding: 4px 5px;
      border: none;
      border-bottom: 1px solid #bdbdbd;
      outline: none;
      color: #212121;
      transition: all 0.3s ease-in;
    }
    .form_line input:focus, .form_line textarea:focus{
      border-color: #009688;
    }
    .form_line textarea {
      width: 100%;
      padding: 4px 5px;
      border: 1px solid #bdbdbd;
      min-height: 160px;
      resize: none;
      outline: none;
      color: #212121;
      transition: all 0.3s ease-in;
    }
    .form_line button {
      display: block;
      margin: 0 auto;
      width: 96px;
      text-align: center;
      height: 32px;
      line-height: 32px;
      background: #009688;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
    }
    .form_line .err_msg {
      position: absolute;
      top: -10px;
      left: 30px;
      line-height: 16px;
      color: #ff0100;
    }
    .wiki_list {
      padding: 0 30px;
    }
    .wiki_list li {
      list-style: none;
    }
    .wiki_list li a {
      color: #009688;
      line-height: 64px;
      font-weight: bold;
      display: flex;
      align-items: center;
    }
    .wiki_list li p:nth-child(2) {
      height: 144px;
      line-height: 36px;
      margin:10px 0;
      padding: 5px 10px;
      border: 1px solid #bdbdbd;
      word-break: break-all;
    }
    .wiki_list li p:nth-child(3) {
      text-align: right;
      color: #999;
      font-size: 14px;
      line-height: 30px;
    }
    .ask {
      position: fixed;
      right: 54px;
      bottom: 45px;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 1px solid #009688;
      background: #fff;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="modal">
    <div class="form">
      <div class="form_line">
        <input type="text" name="title" value="" placeholder='输入标题' maxlength="16">
      </div>
      <div class="form_line">
        <input type="text" name="anthor" value="" placeholder='提问者代号' maxlength="16">
      </div>
      <div class="form_line">
        <textarea name="info" placeholder="请输入问题描述" maxlength="128"></textarea>
      </div>
      <div class="form_line">
        <p class='err_msg'></p>
        <button type="button" name="add">提交</button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="dash_board">
      <h3>动态问答平台</h3>
      <p>匿名提问回答，实时更新</p>
    </div>
    <ul class="wiki_list">
      <%for (let i =0; i <= list.length - 1; i++){%>
        <li>
          <a href="<%='/wiki/' + list[i].id%>">
            <img src="/images/icon/wiki.png" alt="">
            <span><%=list[i].title%></span>
          </a>
          <p><%=list[i].info%></p>
          <p>
            <span>添加时间：</span>
            <span><%= list[i].show_date%></span>
          </p>
        </li>
      <%}%>
    </ul>
    <div class="ask">
      <img src="/images/icon/ask.png" alt="">
    </div>
  </div>
  <script type="text/javascript">
    const socket = new WebSocket('ws://127.0.0.1:3002/');
    let arr = []
    socket.onopen = function (e) {
      // open时不能接收数据
      socket.send('getWikiList')
    }
    socket.onerror = function (err) {
      console.log(err)
    }
    socket.onmessage = function (e) {
      console.log(JSON.parse(e.data))
      arr = JSON.parse(e.data)
    }
    $('button[name=add]').click(function (e) {
        $('.err_msg').text('')
      if ($('input[name=title]').val() === '') {
        $('.err_msg').text('输入标题')
      } else if ($('textarea[name=info]').val() === '') {
        $('.err_msg').text('输入问题描述')
      } else {
        $.ajax({
          url: '/wiki',
          method: 'POST',
          data: {title: $('input[name=title]').val(), info: $('textarea[name=info]').val(), author: $('input[name=anthor]').val()},
          success: function (res) {
            console.log({title: $('input[name=title]').val(), info: $('textarea[name=info]').val(), author: $('input[name=anthor]').val()})
            console.log(res)
          }
        })
      }
    })
    $('.ask').click(function () {
      $('.modal').css('display', 'flex')
      setTimeout(() => {
        $('.form').css('margin-top', '130px')
      }, 20)
    })
    $('.modal').click(function (e) {
      $('.form').css('margin-top', '0')
      setTimeout(() => {
        $(this).hide()
      }, 100)
    })
    $('.form').click(function (e) {
      e.stopPropagation()
    })
  </script>
</body>
</html>
