<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <script src='/javascripts/socket.io.js'></script> -->
  <title>交互式问答平台</title>
</head>
<body>
  <div class="container">
    socket
  </div>
  <script type="text/javascript">
    console.log(window)
    const socket = new WebSocket('ws://127.0.0.1:3001/socket/wiki');
    console.dir(socket);
    socket.onopen = function () {
      console.send('1234978')
    }
    socket.onconnection = function (e) {
      console.log(e)
      cosnole.log('connect')
    }
    socket.onerror = function (err) {
      console.log(err)
    }
  </script>
</body>
</html>
